<%= form_for @question do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>

    <div>
      <%= f.label :tag_string, "Tags" %>
      <%= f.text_field :tag_string, value: @question.tags_as_string %>
    </div>


    <div>
      <%= f.submit "Make Changes" %>
    </div>
<% end %>
