<% if @question.is_owned_by(current_user) %>
  <%= link_to "Edit", edit_question_path, class: "button" %>
<% end %>
<section>
  <div class="question-body">
    <%= link_to "UP", vote_question_path(vote: {value: 1, question: @question}), method: :post %>
    <%= link_to "DOWN", vote_question_path(vote: {value: -1, question: @question}), method: :post %>
    <h3><%= @question.title %><span class="right light small"><%= @question.write_vote_count %> Votes | <%= @question.write_comment_count %> comments</span></h3>
    <P class="light"><%= @question.write_date %> by <%= link_to @question.write_user_name, user_path(@question.user) %>  </P>
    <p class="row"><%= @question.body %></p>
    <p><%= render @question.tags %></p>
  </div>
  <div>
    <p><%= link_to "Add comment", {controller:"comments", action:"new", question: @question}%></p>
    <%= render @comments %>
  </div>
</section>

<h2>Answers:</h2>
<%= render @question.answers  %>

<% if current_user %>
<section>
  <%= render partial: 'answers/new'  %>
</section>
<% end %>

