<section class="answers">
  <p class="small light">Written by: <%= link_to answer.user.username, user_path(answer.user) %>

    <span class="right"><%= link_to image_tag("up.png", size: '20x20'), vote_answer_path(vote: {value: 1, answer: answer}), method: :post, class: "up" %>

      <%= link_to image_tag("down.png", size: '20x28'), vote_answer_path(vote: {value: -1, answer: answer}), method: :post %>
      <%= answer.vote_count %> Votes | <%= answer.write_comment_count %> comments</span>


    <p class="small light" id="edit-answer-link">
      <% if answer.is_owned_by(current_user) %>
        <%= link_to "Edit Answer", edit_answer_path, question: 'test' %>
      <% end %>
    </p>

  </p>

  <% if answer.is_owned_by(current_user) %>
    <section id="answer"><%= answer.body %></section>

    <section id="edit-answer">
      <%= render partial: 'answers/edit', locals: {answer: answer} %>
    </section>

  <% else %>
    <section><%= answer.body %></section>
  <% end %>



  <br />

    <p class="light">
      <%= link_to "Create comment", {controller:"comments", action:"new", answer: answer} %>
    </p>
    <%= render answer.comments %>
</section>
